---
import { colors } from '@utils/colors'

interface Props {
	link: string
	text: string
	gradient: keyof typeof colors
	download: boolean
	label: string
}

const { link, text, gradient, download, label } = Astro.props

const [primary, secondary] = colors[gradient]

const backgrounds = {
	g2: 'hover:before:from-g2-primary hover:before:to-g2-secondary',
	g3: 'hover:before:from-g3-primary hover:before:to-g3-secondary',
	g4: 'hover:before:from-g4-primary hover:before:to-g4-secondary'
}

const hover = backgrounds[gradient]
---

<a
	href={link}
	target={download ? '_self' : '_blank'}
	class=`tablet:w-auto mobile:w-56 relative py-3 flex items-center gap-2 rounded-md px-12 bg-origin-border bg-clip-border border border-transparent hover:before:content-[''] hover:before:absolute hover:before:top-0 hover:before:left-0 hover:before:-z-10 hover:before:w-full hover:before:h-full hover:before:rounded-md hover:before:blur hover:before:bg-gradient-to-l ${hover}`
	download={download}
	aria-label={label}
	role='button'
>
	<slot />
	{text}
</a>

<style define:vars={{ primary, secondary }}>
	a {
		background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
			linear-gradient(101deg, var(--primary), var(--secondary));
		box-shadow: 2px 1000px 1px #11071f inset;
	}
</style>
