---
import { projects } from '@utils/projects'
import ProjectCard from './ProjectCard.astro'

interface Props {}
---

<section class='mt-20 border-t border-extra pt-12' id='projects'>
	<h1 class='uppercase'>Proyectos</h1>

	<div
		class='grid desktop:grid-cols-3 tablet:grid-cols-2 mobile:grid-cols-1 gap-x-8 gap-y-16 mt-10'
	>
		{
			projects.map((x) => (
				<ProjectCard
					id={x.id}
					title={x.title}
					description={x.des}
					website={x.web}
					github={x.github}
					images={x.imgs}
					technologies={x.technologies}
				/>
			))
		}
	</div>
</section>
